
.profil-resmi {
    max-width: 250px;
}

.video-kutusu {
    max-width: 800px;
}

.slider-resmi {
    height: 500px;
    object-fit: cover;
}

.login-kutu {
    max-width: 400px;
}

.iletisim-kutu {
    max-width: 800px;
}

.programlama-cubugu {
    width: 60%;
}

.cv-profil-resmi {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 5px solid #fff; 
}



/*google Fonts'tan Modern Bir Yazı Tipi */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Renk Değiştirme Efekti(navbar) */
.navbar-nav .nav-link {
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #17a2b8 !important; /* fare üzerine gelince turkuaz olsun */
}

/*Havaya Kalkma Efekti */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important; 
}
